<section class="section-top">
  <div class="container">
    <div class="wrap">
      <div class="display">
        <div>
          <div class="display-small-numbers">
            {{ displayHistory }}
          </div>
          <div class="display-numbers" style="font-size: {{ fontSize }}">
            {{ display }}
          </div>
        </div>
      </div>
    </div>
    <div class="display-center">
      <div class="container-numbers-signs">
        <div class="col-numbers">
          <button class="button-num" (click)="addNumber(1)" [disabled]="click">1</button>
          <button class="button-num" (click)="addNumber(2)" [disabled]="click">2</button>
          <button class="button-num" (click)="addNumber(3)" [disabled]="click">3</button>
          <button class="button-num" (click)="addNumber(4)" [disabled]="click">4</button>
          <button class="button-num" (click)="addNumber(5)" [disabled]="click">5</button>
          <button class="button-num" (click)="addNumber(6)" [disabled]="click">6</button>
          <button class="button-num" (click)="addNumber(7)" [disabled]="click">7</button>
          <button class="button-num" (click)="addNumber(8)" [disabled]="click">8</button>
          <button class="button-num" (click)="addNumber(9)" [disabled]="click">9</button>
          <button class="button-reset" (click)="reset()">AC</button>
          <button class="button-num" (click)="addNumber(0)" [disabled]="click">0</button>
          <button class="button-action" (click)="result()">=</button>
        </div>
        <div class="col-signs">
          <button class="button-action" (click)="action('+')">+</button>
          <button class="button-action" (click)="action('-')">-</button>
          <button class="button-action" (click)="action('x')">x</button>
          <button class="button-action" (click)="action('/')">/</button>
        </div>
      </div>
    </div>
  </div>
 
</section>
<section class="section-bottom">
  <div class="signature">
    <img src="assets/Acc_Logo.png" height="20rem">
    <p class="text"> <span style="color: white; font-weight: 500; font-family: 'Quicksand', sans-serif; font-size: 14px;">calculator</span> 
      by Liga Runge</p>
  </div>
</section>
